# FastAPI y servidor ASGI
fastapi
uvicorn[standard]

# Base de datos
sqlalchemy
psycopg2-binary
asyncpg

# Migraciones
alembic

# Manejo de variables de entorno
python-dotenv
pydantic
pydantic-settings
pydantic[email]

# Seguridad
passlib==1.7.4
bcrypt==4.0.1
python-jose

# Testing
pytest
pytest-asyncio
pytest-mock
httpx

python-multipart

# Logging
structlog

# Observability
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-asyncpg
opentelemetry-exporter-prometheus